# CGT 290 Week2
## Python Tutorial: list, tuple, dictionary, set, function

### Jan 22, 2020
Zongcheng Chu

# 1. List

In [0]:
# list initialization
l1=['Python','C++','Java','C#','Julia']
l2=list(range(1,6))
l3=list(range(1,18,2))


#built-in function to get the length of the list
len(l1)

'AI' in l1  # >> False
'JS' not in l1 # >> True

# slice
l1[2]
l1[0:4]
l1[0:-1:2]

#list operations
l1[3]='Scala' #change elements

"""
1. append adds its argument as a single element to the end of a list. 
   The length of the list itself will increase by one.
   
2. extend iterates over its argument adding each element to the list, extending the list. 
   The length of the list will increase by however many elements were in the iterable argument.
"""
l1.append(l2)
l1.extend(['Torch'])# 

l1.insert(0,'sklearn') # insert element "sklearn" at the position of index 0

l1.index('sklearn')# return the index of this element(if this element is duplicate, only return the first one)
l1.count('AI')#

l1.pop()#remove the last element and return the last element(the list will be changed)
l1.pop(3)#remove an element with a specified index and return this element(the list will be changed)

min(l3) # return the largest number
max(l3) # return the smallest number

del l1[-1] #remove an element(the list will be changed)
l1.remove('C++')#remove an element by its name, if this element is duplicate then only the first one will be removed
l1

reversed(l1) # reverse the list
sorted(l1) # sort the list in an ascending order

l2<l3 # element-wise comparision

True

# 2. list+for

In [0]:
l1=list(range(300))  #l1 -> [0,1,2,3,...,299]

[x for x in l1 if x>=288]
# how to read this code:
# 1. for x in l1
# 2. if x >= 288
# 3. keep x

# >> [288, 289, 290, ... , 299]


[i for i in range(9) if i%2==0]
# >> [0,2,4,6,8]


# two list + for loop
[(i,j) for i in range(5) for j in range(5)]
# how to read
# 1. for i in range(5)
# 2. for j in range(5)
# keep(i,j)

# >>[(0,0),(0,1),(0,2),...,(4,3),(4,4)]

[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (4, 0), (4, 1), (4, 2), (4, 3), (4, 4)]

# 3. Tuple

In [0]:
# create a new tuple(we use "()" for tuple)
t1=(5,6,7)
t2 = "a", "b", "c", "d"   #you can create a tuple even without the brackets
type(t2)

#create an empty tupe
t3 = ()

#create a tuple that contains only one element
t4 = (10,) # NOTE: must have ',' at the end

#unpack tuple
a,b,c=t1

# slice
tup1 = ('Google', 'Runoob', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

#concat
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')
tup3 = tup1 + tup2
print (tup3)



t1=(1,2,3,[4,5,6])
#t1[0]=0 gives us error message
#'tuple' object does not support item assignment
# but list can!

# tuple has no attribute called append, but if the element in the tuple is a list,
# then we can first access to that list and append elements.
t1[-1].append(7)
print(t1)

tup1[0]:  Google
tup2[1:5]:  (2, 3, 4, 5)
(12, 34.56, 'abc', 'xyz')
(1, 2, 3, [4, 5, 6, 7])

# 4. Dictionary

In [3]:
"""
Basic data structre for dictionary in Python:
 -------------------------------------
| d = {key1 : value1, key2 : value2 } |
 -------------------------------------
 
 Note:
 1. key has to be unique, but value doesn't have to be.
 2. value could be any data type, but key must be number, string or tuple

"""

# create a dictionary(either is ok)
d1={'name':'jack','age':24}
d2=dict({'salary':9999,'level':5})


'name' in d1 # if 'name' is in the key list of d1
'address' in d1 # if 'address' is in the key list of a1


#add a new key (if this key exists in the dictionary, the value will be changed.)
d1['address']='West Lafayette'
d1['name'] = d1['name']

#get the value by the key name
print(d1['name'])

#get all the keys
print('Keys:',d1.keys())
#get all the vlaues
print('Values:',d1.values())

#get all the paris of key:value
print('All the paris:',d1.items())


#delete 
d1.pop('name')# remove the pair 'name:jack', and return the value 'jack' 
d1.popitem()# remove the last item, and return this item.

#empty dictionary
d1.clear()

d1={'name':'jack','age':24}
# iterate the dictionary
for key, value in d1.items():
    print('key:',key,' ','value:',value)

jackhi
Keys: dict_keys(['name', 'age', 'address'])
Values: dict_values(['jackhi', 24, 'West Lafayette'])
All the paris: dict_items([('name', 'jackhi'), ('age', 24), ('address', 'West Lafayette')])
key: name   value: jack
key: age   value: 24

# 5. Set

In [0]:
"""
A set is a collection which is unordered, no duplicate element in a set.
"""

#create an empty set
s1 = set()

#create a set with elements, use "{}"
s2 = {'Python','C++','Java'}

# convert a list to a set
l1=['Python','C++','Java','C++']
a=set(l1)
print(a) # >> ['Python','C++','Java']

# a[0]# 'set' object does not support indexing


'Python' in a # >> True

#add elements
a.add('C#')
#remove elements
a.remove('C++')

# Add multiple items to a set, using the update() method:
thisset = {"apple", "banana", "cherry"}
thisset.update(["orange", "mango", "grapes"])
print(thisset)
#>> {"apple", "banana", "cherry", "orange", "mango", "grapes"}


# operation between two sets
a=set('abcde')
b=set('cdefg')

# &
a&b
# >> {'c', 'd', 'e'}

# |
a|b
# >> {'a', 'b', 'c', 'd', 'e', 'f', 'g'}

# -
a-b
# >> {'a', 'b'}


#other function:
"""
len()
pop()
"""

{'Java', 'C++', 'Python'}
{'apple', 'mango', 'grapes', 'banana', 'cherry', 'orange'}

'\nlen()\npop()\n'

# 6. Function

### A function is a block of code which only runs when it is called. 
### You can pass data, known as parameters, into a function. 
### A function can return data as a result.

## 6.1 define a function

In [0]:
# In Python a function is defined using the def keyword:

#define a function
def my_function():
    print("Hello from a function")

#call the function
my_function()

Hello from a function

## 6.2 pass arguments

In [0]:
# Arguments are specified after the function name, inside the parentheses. 
# You can add as many arguments as you want, just separate them with a comma.

def my_function(fname):
    print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

# two arguments
def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes
Tobias Refsnes
Linus Refsnes
Emil Refsnes

## 6.3 Default Parameter Value

In [0]:
# If we call the function without argument, it uses the default value

def my_function(country = "Norway"):
    print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

## 6.4 Passing a List as an Argument

In [0]:
# You can send any data types of argument to a function (string, number, list, dictionary etc.), 
# and it will be treated as the same data type inside the function.

def my_function(food):
    for x in food:
        print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

## 6.5 Return Values

In [0]:
# To let a function return a value, use the return statement:

def my_function(x):
    return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

# 6.6 how values change when passing arguments?

In [0]:
#passing a number or a string to a function, this value will not be changed.
a=7
b='purdue'
print('before:',a,b)

def foo1(a,b):
    a+=1
    b+='.com'
    print('In foo1 a,b has changed to',a,b)

foo1(a,b)
print('after:',a,b)


print('-'*40)


#passing a list or a dictionary, the value will be changed. 
l1=[1,2,3.4]
d1={'name':'jack'}
def foo2(a,b):
    a[0] = 100
    b['name']='Joe'
    
print('before:',l1,d1)

foo2(l1,d1)


print('after:',l1,d1)

before: 7 purdue
In foo1 a,b has changed to 8 purdue.com
after: 7 purdue
----------------------------------------
before: [1, 2, 3.4] {'name': 'jack'}
after: [100, 2, 3.4] {'name': 'Joe'}

# 6.7 "global" data type in the function

In [0]:
# In Python, global keyword allows you to modify the variable outside of the current scope. 
# It is used to create a global variable and make changes to the variable in a local context.

c = 1 # global variable
    
def add():
    c = c + 2 # increment c by 2
    print(c)

add()

# We get the error message. 
# This is because we can only access the global variable but cannot modify it from inside the function.
# The solution for this is to use the global keyword.

UnboundLocalError: local variable 'c' referenced before assignment

In [0]:
c = 0 # global variable

def add():
    global c
    c = c + 2 # increment by 2
    print("Inside add():", c)

add()
print("Outside add():", c)

Inside add(): 2
Outside add(): 2

# 7. break, continue, pass
In Python, break, continue and pass statements can alter the flow of a normal loop.

Loops iterate over a block of code until test expression is false, but sometimes we wish to terminate the current iteration or even the whole loop without checking test expression.

The break and continue statements are used in these cases.

## 7.1 break

In [0]:
# The break statement terminates the loop containing it. 
# Control of the program flows to the statement immediately after the body of the loop.

for val in "string":
    if val == "i":
        break
    print(val)

print("The end")

s
t
r
The end

## 7.2 continue

In [0]:
# The continue statement is used to skip the rest of the code inside a loop for the current iteration only. 
# Loop does not terminate but continues on with the next iteration.

for val in "string":
    if val == "i":
        continue
    print(val)

print("The end")

s
t
r
n
g
The end

## 7.3 pass

In [0]:
# nothing happens when pass is executed. It results into no operation (NOP).
for val in "string":
    if val == "i":
        pass
    print(val)

print("The end")

s
t
r
i
n
g
The end

# Homework

1. Given a list containing string elements, create a Python dictionary to count the number of each element shown in the list  
## (4 points)

In [7]:
s = ['person','bike','car','person','phone','person','car','car','phone','bike','plane']

def make_dictionary(s):
    
    dict = {}
    for x in s:

      if x in dict:
        dict[x] = dict[x] + 1
      else:
        dict[x] = 1
    
    
    return dict

# test
print(make_dictionary(s))

{'person': 3, 'bike': 2, 'car': 3, 'phone': 2, 'plane': 1}

2. Compute the result: 1+2!+3!+...+20! 
## (4 points)

In [15]:
# n! = n * (n-1) * (n-2) * ... * 1

# let's first define a function to compute n!
def factorial(n):
    
    total = 1
    for x in range(1,n+1):
      total = total * x
    
    return total


# we can loop through 1 to 20, and each time we call the factorial() function.

sum = 0
for x in range(1,21):
  sum = sum + factorial(x)

print (sum)

33

3. remove all the duplicate elements in the given list.
# (4 points)

In [17]:
S = ['a','A','1','1','b','2','a','1','2','c','d']
# output -> ['a','A','1','b','2','c','d']

def remove_duplicate(S):
    
    a = []
    for x in S:
      if x not in a:
        a.append(x)
    
    return a

print(remove_duplicate(S))

['a', 'A', '1', 'b', '2', 'c', 'd']

4. brackets matching
# (6 points)

In [39]:
# given a string that only contains '[' or ']', decide if all the brakets can find their matching ones.

# []        OK  

# ][        NOT OK

# [][]      OK  

# ][][      NOT OK

# [[][]]    OK   

# []][[]    NOT OK

# [[][[]]]  OK   

# ][]][[][  NOT OK

# Hint: 
# initialize an empty list a = []
# for case '[][]', starting from the first element, we add them to list a
# a = ['[']
# a = ['[',']']
# each time, we check the previous element in list a, if the current element and the previous one is a matching pair,
# pop both two element.
# Keep doing this until we reach to the last element.
# return True if we have an empty list in the end.
# return False if we still have elements left in the end.

test1 = '][]][[]['
test2 = '[[][[]]]'
test3 = '[[[[]]]]'

def matching(test):
    
    a = []
    a.append(test[0])
    
    for i in range(1,len(test)):
      a.append(test[i])
      if a[len(a)-1] == ']' and a[len(a)-2] == '[':
        a.pop()
        a.pop()

    if a == []:
      return ("True")
    else:
      return ("False")

print(matching(test1))
print(matching(test2))
print(matching(test3))

False
True
True